.normal{background-color: #ADA480;}
.fighting{background-color: #C22F26;}
.flying {background-color:#B49AF6;}
.poison{background-color :#A43FA4;}
.ground{background-color :#DEBE63;}
.rock{background-color :#B49E38;}
.bug{background-color :#A8B531;}
.ghost{background-color :#6E5391;}
.steel{background-color :#B8B5CF;}
.fire{background-color :#F07D33;}
.water{background-color :#6D88F8;}
.grass{background-color :#81CB5B;}
.electric{background-color :#E9D436;}
.psychic{background-color :#FF598D;}
.ice{background-color :#9AD9DA;}
.dragon{background-color :#723EFC;}
.dark{background-color :#705749;}
.fairy{background-color :#E1A4E1;}
body{
    background-image: url("../src/images/wallpaperpikachu.jpg") ;
}
.BasePokedex{background-color: #CC0000}